// THIS IS FOR THE ROOT COLORS
:root {
    --main-bg: hsl(276, 100%, 81%);
    --chat-ui1: hsl(271, 15%, 43%);
    --chat-ui: hsl(276, 55%, 52%);
}

// THE COLORS AS VARIABLES.
$main-bg: hsl(276, 100%, 81%);
$chat-ui1: hsl(271, 15%, 43%);
$chat-ui2: hsl(276, 55%, 52%);